@using ClothesWebUI.Models

@model Products

@{
    ViewData["Title"] = "Sửa sản phẩm!";

}

@if (Model == null)
{
    <p>Không tìm thấy sản phẩm hoặc sản phẩm không tồn tại!</p>
}
else
{
    <form method="post">

    </form>
}